In [1]:
import pandas as pd
import numpy as np

In [2]:
def loadData(file):
    data = pd.read_csv(file)
    print('Raw shape: ',data.shape)
#     data['Date'] = pd.to_datetime(data.Date)
    print('Days: ',len(set(data.Date)))
    return data

In [3]:
def getTimeSeries(df):
    table = pd.pivot_table(df, values='vehicle_count', index=['Date'],
                    columns=['DOLocationID'], aggfunc=np.sum, fill_value=0)

    return table

In [32]:
hub = 'Penn'
rootDir = '/home/mingyi/Dropbox/UrbanTemporalNetworks/'
dataDir = rootDir + 'processedData/'

file = dataDir + hub + 'VehicleByHour.csv'

In [33]:
rawdata = loadData(file)
edge_data = getTimeSeries(rawdata)

Raw shape:  (2251320, 4)
Days:  365

In [34]:
edge_data

DOLocationID,1,2,3,4,5,6,7,8,9,10,...,254,255,256,257,258,259,260,261,262,263
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,156,0,2,131,0,1,88,1,1,3,...,3,64,47,16,2,4,12,72,175,204
2018-01-02,67,0,0,62,0,0,41,0,2,2,...,3,25,36,6,1,4,11,82,84,112
2018-01-03,61,0,1,62,0,0,44,0,2,4,...,2,28,26,5,0,1,7,87,71,82
2018-01-04,12,0,0,25,0,0,18,0,0,0,...,0,19,14,4,1,1,2,42,30,38
2018-01-05,64,0,3,58,0,1,30,0,2,4,...,2,25,24,9,1,3,6,72,64,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-27,45,0,2,86,1,2,55,0,0,5,...,1,49,51,11,0,4,8,100,129,151
2018-12-28,47,0,3,95,1,0,81,0,1,2,...,2,53,47,12,5,2,15,68,92,146
2018-12-29,102,0,3,152,0,0,97,1,3,7,...,2,78,89,14,1,4,10,115,131,182
2018-12-30,89,0,1,133,0,0,74,1,0,2,...,3,65,72,5,2,7,15,77,120,173
2018-12-31,22,0,2,111,0,0,71,0,0,2,...,0,68,82,12,1,8,10,62,89,111

In [35]:
# stdDF = pd.DataFrame()
for col in edge_data.columns:
    std = edge_data[col].std()
    edge_data[col] = edge_data[col].apply(lambda x: str(0)+';'+str(round(x+1.645*std,3)) 
                                          if (x-1.645*std)<0 
                                          else 
                                          str(round(x-1.645*std,3))+';'+str(round(x+1.645*std,3)))

In [36]:
edge_data.to_csv('../processedData/%s90CI.csv'%hub)

In [23]:
edge_data.head()

DOLocationID,1,2,3,4,5,6,7,8,9,10,...,254,255,256,257,258,259,260,261,262,263
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,7.425;42.575,0;0.436,0;9.315,38.429;83.571,0;2.633,0;4.701,105.54;190.46,0;1.322,0.148;25.852,91.136;184.864,...,2.513;15.487,149.027;282.973,92.538;183.462,25.082;52.918,12.399;45.601,4.46;19.54,39.27;64.73,24.874;107.126,134.484;215.516,170.186;289.814
2018-01-02,5.425;40.575,0;0.436,9.685;20.315,71.429;116.571,0;1.633,0.299;5.701,150.54;235.46,0;1.322,0;19.852,106.136;199.864,...,4.513;17.487,247.027;380.973,133.538;224.462,26.082;53.918,26.399;59.601,8.46;23.54,22.27;47.73,76.874;159.126,134.484;215.516,193.186;312.814
2018-01-03,20.425;55.575,0;0.436,0;10.315,49.429;94.571,0;1.633,0;4.701,120.54;205.46,0;2.322,0.148;25.852,92.136;185.864,...,5.513;18.487,193.027;326.973,145.538;236.462,20.082;47.918,22.399;55.601,6.46;21.54,24.27;49.73,54.874;137.126,96.484;177.516,147.186;266.814
2018-01-04,14.425;49.575,0;0.436,0;9.315,5.429;50.571,0.367;3.633,0;3.701,32.54;117.46,0;1.322,0;22.852,117.136;210.864,...,2.513;15.487,59.027;192.973,15.538;106.462,0;26.918,37.399;70.601,1.46;16.54,28.27;53.73,0;69.126,16.484;97.516,21.186;140.814
2018-01-05,50.425;85.575,0;0.436,0;10.315,3.429;48.571,0.367;3.633,0;3.701,43.54;128.46,0;1.322,0;19.852,88.136;181.864,...,4.513;17.487,42.027;175.973,33.538;124.462,15.082;42.918,38.399;71.601,5.46;20.54,14.27;39.73,3.874;86.126,39.484;120.516,48.186;167.814

In [25]:
edge_data.iloc[:6,:6]

DOLocationID,1,2,3,4,5,6
Date,,,,,,
2018-01-01,7.425;42.575,0;0.436,0;9.315,38.429;83.571,0;2.633,0;4.701
2018-01-02,5.425;40.575,0;0.436,9.685;20.315,71.429;116.571,0;1.633,0.299;5.701
2018-01-03,20.425;55.575,0;0.436,0;10.315,49.429;94.571,0;1.633,0;4.701
2018-01-04,14.425;49.575,0;0.436,0;9.315,5.429;50.571,0.367;3.633,0;3.701
2018-01-05,50.425;85.575,0;0.436,0;10.315,3.429;48.571,0.367;3.633,0;3.701
2018-01-06,56.425;91.575,0;0.436,1.685;12.315,27.429;72.571,0;2.633,1.299;6.701